*{
    margin: 0;
    padding: 0;
}

.container-color {
    /* position: static;
    background: rgb(7, 6, 20);
    background: linear-gradient( 5deg, rgba(7, 6, 20, 1) 5%, rgba(16, 25, 60, 1) 35%, rgba(10, 75, 59, 1) 50%, rgba(16, 25, 60, 1) 65%, rgba(7, 6, 20, 1) 95%);
    color: white;
    font-family: Arial, Helvetica, sans-serif; */
   
    display: block;
     

    position: static;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Quicksand', sans-serif;
    color: blanchedalmond;
    /* background: linear-gradient(to bottom, #20202c 0%, #515175 100%); */
    
    /* background: linear-gradient(rgb(48, 75, 137) 78.8866%, rgba(48, 75, 137, 0.992) 80.2946%,
    rgba(48, 75, 137, 0.965) 81.7004%, rgba(48, 75, 137, 0.918) 83.1084%, rgba(48, 75, 137, 0.85) 84.5164%,
    rgba(48, 75, 137, 0.77) 85.9244%, rgba(48, 75, 137, 0.667) 87.3324%, rgba(48, 75, 137, 0.557) 88.7404%, 
    rgba(48, 75, 137, 0.443) 90.1462%, rgba(48, 75, 137, 0.333) 91.5542%, rgba(48, 75, 137, 0.23) 92.9622%, 
    rgba(48, 75, 137, 0.15) 94.3702%, rgba(48, 75, 137, 0.082) 95.7782%, rgba(48, 75, 137, 0.035) 97.184%, 
    rgba(48, 75, 137, 0.008) 98.592%, rgba(48, 75, 137, 0) 100%); */

    background: linear-gradient(180deg, rgba(51, 91, 148, 1) 78.8866%, rgba(51, 91, 148, 0.991353) 80.2946%, 
    rgba(51, 91, 148, 0.96449) 81.7004%, rgba(51, 91, 148, 0.91834) 83.1084%, rgba(51, 91, 148, 0.852589) 84.5164%, 
    rgba(51, 91, 148, 0.768225) 85.9244%, rgba(51, 91, 148, 0.668116) 87.3324%, rgba(51, 91, 148, 0.557309) 88.7404%, 
    rgba(51, 91, 148, 0.442691) 90.1462%, rgba(51, 91, 148, 0.331884) 91.5542%, rgba(51, 91, 148, 0.231775) 92.9622%, 
    rgba(51, 91, 148, 0.147411) 94.3702%, rgba(51, 91, 148, 0.0816599) 95.7782%, rgba(51, 91, 148, 0.03551) 97.184%, 
    rgba(51, 91, 148, 0.0086472) 98.592%, rgba(51, 91, 148, 0) 100%);
}

#container{
    /* background-color:#275aa6; */
    background-image: url(/Images/background1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header{
    /* background: #c471ed; */
    width: 100%;
    /* height: 1650px; */
}

#bar-header{
    /* position: fixed; */
    z-index: 99;
    display: flex;
    width: 100%;
    height: 111px;
    /* background-color:white; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.600) 10%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.600) 10%, rgba(255, 255, 255, 0) 100%);
    justify-items:center ;
    flex-direction: column;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  /* padding-top: 102px; */
}



.top{
    display: flex;
    width: 100%;
    height:60px;

    background-color:#00000000;
}



.logo {
    /* background-image: url(/Images/Logo.jpg); */
    /* background-color: lightcoral; */
    width: 4%;
    height: 50px;
    /* border-radius: 40px; */
    /* margin-top: 5px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
}

.name{
    /* background-color: #c471ed; */
    color: #00ecfdd7;
    width: 76%;

    /* font-size: 45px;
    font-weight: 700; */
    font-family: Arial;
    padding-top: 10px;
    text-shadow: 3px -3px 0px rgba(85, 85, 85, 0.431);
    
}

.btn{
    /* height: 125px; */
    width: 20%;
    /* background-color: darkviolet; */

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.btn button{
    width: 110px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    /* border: none; */
}

.nav-menu{
    width: 100%;
    height: 30px;
    /* background: linear-gradient(to bottom right, #4CA9CF, #292E91); */
    background: linear-gradient(to bottom right, #00C3FF, #0077FF);


    display: flex;
    justify-content: space-around;
    z-index: 99;
}

.nav-menu /*div*/ button:hover{
    /* background: darkblue; */
    background: linear-gradient(#00C3FF, #0077FF);
    width: 150px;
}

.nav-menu div.item{
    width: 100px;
    border-radius: 5px;
    /* background-color: violet; */

    /* border-bottom-right-radius: 20px;
    border-top-left-radius: 20px; */
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu div.item a{
    text-decoration: none;
    color: white;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;

    position: relative;
    z-index: 10;
}

.item button{
    height: 30px;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 5px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 5s;
}

#content{
    /* background-color:rgba(255, 255, 255, 0.400); */
    /* background: linear-gradient(240deg, rgba(50, 50, 150, 0.3), rgba(0, 0, 200, 0)); */
    width: 930px;
    height: 1650px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 0px 10px 0px 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

#content-header{
    width: 100%;
    height: 1500px;
    /* background-color: coral; */
    /* border-radius: 20px; */
}

input{
    /* width: 280px;
    height: 30px;
    background-color:rgba(255, 255, 255, 0.800);
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 15px ;
    margin-top: 30px; */
}

.search-location{
    width: 40%;
    height: 50px;

    /* background-color: rgb(62, 62, 65); */ 

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-location .search-input{
    position: relative;
    background-color:rgba(255, 255, 255, 0.900);
    padding: 15px;
    border-radius: 10px;
    width: 5px;
    transition: 0.5s;

}

.search-location .search-input input{
    width: 100%;
    background: transparent;
    
    border: none;
    outline: none;
    color: #2B2B2B;
    font-size: 17px;
}

.search-location .search-input input::placeholder{
    color: rgb(139, 139, 139);
}

.search-location .search-button{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #00C3FF, #0077FF);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 24px;
    /* box-shadow: 0 0 0 10px #FEA858; */

    cursor: pointer;
}

.search-location .search-button img{
    width: 22px;
    height: 22px;
    position: relative;
}

.search-location .search-button input{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    cursor: pointer;
}

.search-location:hover > .search-input{
    width: 300px;
}



.forecast{
    width: 100%;
    height: 1100px;
    /* background-color: silver; */
}

div .forecast div{
    padding-top: 15px;
}

.forecast-infor{

}

.btn-temp{
    margin-left: 790px;
    margin-top: -40px;
}

.btn-temp button{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.900);
    cursor: pointer;
    border:  rgba(255, 255, 255, 0.800);
    border-radius: 5px;
}

.status {
    display: flex;
    width: 100%;
    height: 170px;
    margin-top: 10px;
    /* background-color: blue; */
}

.status img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-icon{
    width: 20%;
    height: 140px;
    /* background-color:rgba(255, 255, 255, 0.05); */
    background-color:#00000025;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

.temp-number{
    width: 25%;
    height: 140px;
    background-color:#00000025;
    /* border-radius: 5px; */
    
    font-size: 96px;
    line-height: 96px;
    color: white;
    display: flex;
    align-items: center;
}

.text-weather{
    width: 55%;
    height: 140px;
    background-color:#00000025;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.detail{
    /* margin-top: -50px; */
    
}

.detail ul{
    width: 100%;
    height: 100px;
    background-color:#00000025;
    border-radius: 12px;

    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.detail ul li{
    width: 180px;
    height: 100px;
    /* background-color:#00000025; */
    /* border-radius: 12px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-tenday ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 220px;
    margin-top: 7px;
    display: flex;
    border-radius: 5px;
    overflow-x: scroll;
    /* overflow: hidden; */
}

.forecast-tenday ul::-webkit-scrollbar{
    margin: 0;
}

.forecast-tenday ul li{
    min-width: 170px;
    height: 200px;
    background-color:#00000025;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px; 
} 

.forecast-locations ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 220px;
    margin-top: 7px;
    display: flex;
    border-radius: 5px;
    overflow-x: scroll;
    /* overflow: hidden; */
}

.forecast-locations ul::-webkit-scrollbar{
    margin: 0;
}

.forecast-locations ul li{
    min-width: 170px;
    height: 200px;
    background-color:#00000025;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px;
}

#footer{
    /* background-color:rgba(255, 255, 255, 0.400); */
    /* background: linear-gradient(240deg, rgba(0, 0, 200, 0), rgba(50, 50, 150, 0.3)); */
    width: 930px;
    height:1900px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 0px 10px 0px 10px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-top-left-radius: 20px;
}

.space{
    width: 930px;
    height: 170px;
}

.news ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 1700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    justify-content: space-between;
    position: relative;
}

.news ul li{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to top , #1612e9, #ffffff00, #ffffff00);
    border-radius: 10px;
    /* margin-left: 7px; */
    cursor: pointer;
    position: relative;

}


.news ul li :hover{
    opacity: 0.5;
    
}

.news ul li.news-big{
    width: 614px;
    background-image: linear-gradient(to right , #124be9, #ffffff00, #ffffff00);
}

.news ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.news ul li a{
    width: 280px;
    height: 50px;
    /* background-color: thistle; */
    color: white;
    font-size:17px;
    text-decoration:none; 

    padding-left: 15px;

     display: flex;
    justify-content: center;

    position: absolute; 
    z-index: 2;
}

.news ul li.news-small a{
    /* height: 70px; */
    
    margin-top: 230px;
}

.news ul li a:hover{
    text-decoration: underline;
    opacity: 1;

}

.news ul li.news-big a{
    /* height: 250px; */
    margin-top: 100px;

    align-items: center;
}




