*{
    margin: 0;
    padding: 0;
    /* font-family: 'Hind Guntur', sans-serif; */
}

/* ::-webkit-scrollbar{
    width: 16px;
    
} */

/* ::-webkit-scrollbar-track{
    border: 1px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
} */

::-webkit-scrollbar-thumb {
    background: linear-gradient(/*355deg,*/ rgba(51, 91, 148, 1) 78.8866%, rgba(51, 91, 148, 0.991353) 80.2946%, 
    rgba(51, 91, 148, 0.96449) 81.7004%, rgba(51, 91, 148, 0.91834) 83.1084%, rgba(51, 91, 148, 0.852589) 84.5164%, 
    rgba(51, 91, 148, 0.768225) 85.9244%, rgba(51, 91, 148, 0.668116) 87.3324%, rgba(51, 91, 148, 0.557309) 88.7404%, 
    rgba(51, 91, 148, 0.442691) 90.1462%, rgba(51, 91, 148, 0.331884) 91.5542%, rgba(51, 91, 148, 0.231775) 92.9622%, 
    rgba(51, 91, 148, 0.147411) 94.3702%, rgba(51, 91, 148, 0.0816599) 95.7782%, rgba(51, 91, 148, 0.03551) 97.184%, 
    rgba(51, 91, 148, 0.0086472) 98.592%, rgba(51, 91, 148, 0) 100%);
    border-radius: 5px;
}

.container-color {
    /* position: static;
    background: rgb(7, 6, 20);
    background: linear-gradient( 5deg, rgba(7, 6, 20, 1) 5%, rgba(16, 25, 60, 1) 35%, rgba(10, 75, 59, 1) 50%, rgba(16, 25, 60, 1) 65%, rgba(7, 6, 20, 1) 95%);
    color: white;
    font-family: Arial, Helvetica, sans-serif; */
   
    display: block;
     

    position: static;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: Segoe UI,'Quicksand', sans-serif;
    color:whitesmoke;
    /* background: linear-gradient(to bottom, #20202c 0%, #515175 100%); */
    
    /* background: linear-gradient(rgb(48, 75, 137) 78.8866%, rgba(48, 75, 137, 0.992) 80.2946%,
    rgba(48, 75, 137, 0.965) 81.7004%, rgba(48, 75, 137, 0.918) 83.1084%, rgba(48, 75, 137, 0.85) 84.5164%,
    rgba(48, 75, 137, 0.77) 85.9244%, rgba(48, 75, 137, 0.667) 87.3324%, rgba(48, 75, 137, 0.557) 88.7404%, 
    rgba(48, 75, 137, 0.443) 90.1462%, rgba(48, 75, 137, 0.333) 91.5542%, rgba(48, 75, 137, 0.23) 92.9622%, 
    rgba(48, 75, 137, 0.15) 94.3702%, rgba(48, 75, 137, 0.082) 95.7782%, rgba(48, 75, 137, 0.035) 97.184%, 
    rgba(48, 75, 137, 0.008) 98.592%, rgba(48, 75, 137, 0) 100%); */

    /* background: linear-gradient(180deg, rgba(51, 91, 148, 1) 78.8866%, rgba(51, 91, 148, 0.991353) 80.2946%, 
    rgba(51, 91, 148, 0.96449) 81.7004%, rgba(51, 91, 148, 0.91834) 83.1084%, rgba(51, 91, 148, 0.852589) 84.5164%, 
    rgba(51, 91, 148, 0.768225) 85.9244%, rgba(51, 91, 148, 0.668116) 87.3324%, rgba(51, 91, 148, 0.557309) 88.7404%, 
    rgba(51, 91, 148, 0.442691) 90.1462%, rgba(51, 91, 148, 0.331884) 91.5542%, rgba(51, 91, 148, 0.231775) 92.9622%, 
    rgba(51, 91, 148, 0.147411) 94.3702%, rgba(51, 91, 148, 0.0816599) 95.7782%, rgba(51, 91, 148, 0.03551) 97.184%, 
    rgba(51, 91, 148, 0.0086472) 98.592%, rgba(51, 91, 148, 0) 100%); */

    background: linear-gradient(180deg, rgba(48, 75, 137, 1) 78.8866%, rgba(48, 75, 137, 0.991353) 80.2946%, 
    rgba(48, 75, 137, 0.96449) 81.7004%, rgba(48, 75, 137, 0.91834) 83.1084%, rgba(48, 75, 137, 0.852589) 84.5164%, 
    rgba(48, 75, 137, 0.768225) 85.9244%, rgba(48, 75, 137, 0.668116) 87.3324%, rgba(48, 75, 137, 0.557309) 88.7404%, 
    rgba(48, 75, 137, 0.442691) 90.1462%, rgba(48, 75, 137, 0.331884) 91.5542%, rgba(48, 75, 137, 0.231775) 92.9622%, 
    rgba(48, 75, 137, 0.147411) 94.3702%, rgba(48, 75, 137, 0.0816599) 95.7782%, rgba(48, 75, 137, 0.03551) 97.184%, 
    rgba(48, 75, 137, 0.0086472) 98.592%, rgba(48, 75, 137, 0) 100%);
    
}

#container{
    background: url(/Images/background7.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
    
    
}

#header{
    /* background: #c471ed; */
    width: 100%;
    /* height: 1650px; */
}

#header1 {
    /* color: #fff; */
    /* padding-top: .5em; */
    /* font-weight: 100; */
    font-size: 270%;
    display: flex;
    justify-content: center;
}
/* .fa-sun-o:before {
content: "\f185";
} */

.fa-spin {
    -webkit-animation: fa-spin 10s infinite linear;
    animation: fa-spin 45s infinite linear;
}

#wizcon {
    font-size: 100%;
    text-shadow: 1px 1px 29px yellow;
    color: yellow;
}

#wizcon-2 {
    font-size: 95%;
    text-shadow: 1px 1px 29px rgba(25, 25, 112, 0.972);
    color: midnightblue;
}

#bar-header{
    /* position: fixed; */
    z-index: 99;
    display: flex;
    width: 100%;
    height: 111px;
    /* background-color:white; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.600) 10%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.600) 10%, rgba(255, 255, 255, 0) 100%);
    justify-items:center ;
    flex-direction: column;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  /* padding-top: 102px; */
}



.top{
    display: flex;
    width: 100%;
    height:60px;

    background-color:#00000000;
}



.logo {
    /* background-image: url(/Images/Logo.jpg); */
    /* background-color: lightcoral; */
    width: 4%;
    height: 50px;
    /* border-radius: 40px; */
    /* margin-top: 5px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
}

.name{
    /* background-color: #c471ed; */
    color: #00ecfdd7;
    width: 90%;

    font-family: 'Nunito', sans-serif;
    padding-top: 8px;
    text-shadow: 3px -3px 0px rgba(85, 85, 85, 0.431);
    
}

.user{
    /* background: burlywood; */
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user button{
    width: 48px;
    height:48px;
    position: absolute;
    /* cursor: pointer; */


    background: none;
    border: none;
}

/* .user :hover > .user-note{
    overflow: visible;
    width: 120px;
    height: 20px;
} */

.user-button{
    position: absolute;
    cursor: pointer;
}

.user-button :hover > .user-note{
    overflow: visible;
    width: 120px;
    height: 20px;
}

.user :hover > .user-body{
    visibility: visible;
}

.user-avatar{
    
    width: 32px;
    height:32px;
    margin: 6px;
    /* background:darkred; */

    position: relative;
}


.user-note{
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    color: #000;
    background: white;
    left: -35px;
    top:46px;
    z-index: 101;

    box-shadow: 3px 3px 0px rgba(85, 85, 85, 0.431);
}

.user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.showUser{
    visibility: hidden;
}

.user-body{
    /* inset: 48px auto auto -255px; */
    width: 320px;
    height: 240px;
    box-shadow: 3px 3px 0px rgba(85, 85, 85, 0.431);

    background: linear-gradient(to bottom right, #00C3FF, #0077FF);
    border-radius: 5px;

    display: inline-block;
    position: absolute;
    z-index: 100;
    right: 30px;
    top:53px;
    
    /* visibility: hidden; */
}

.body-container{
    margin-left: 8.45px;
}

.head{
    display: flex;
    
}

.nameMin{
    
    color: #00ecfdd7;
    width: 59.1%;
    font-size: xx-small;
    font-family: 'Nunito', sans-serif;
    padding-top: 8px;
    text-shadow: 3px -3px 0px rgba(85, 85, 85, 0.431);

    display: flex;
    align-items: center;
}

.logoMin{
    width: 50px;
    height: 50px;
}

.btnSignOut{
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: groove;
    border: none;
    padding: 0px 11.45px 0px 11.45px;
    color: whitesmoke;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.btnSignOut:hover{
    background: linear-gradient(#00c3ff, #0077FF);
}

.currentAccount{
    width: 100%;
    height: 130px;
    
    display: flex;
    align-items: center;

    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.700);
}

.avatar{
    width: 110px;
    height: 88px;
}

.avatar img{
    width: 88px;
    height: 88px;
}

.accountList{
    width: 100%;
    height: 60px;
    
}

.foot{
    width: 320px;
    height: 60px;
    background:  #0077ff49;

    margin-left: -8px;

    display: flex;
    align-items: center;

    
    text-decoration: none;
    color:whitesmoke;
}

.foot:hover{
    background: linear-gradient(#00c3ff, #0077FF);
}

.icon-signIn{
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    /* height: 125px; */
    width: 21%;
    /* background-color: darkviolet; */

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.btn button{
    width: 110px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    /* border: none; */
}

.nav-menu{
    width: 100%;
    height: 35px;
    /* background: linear-gradient(to bottom right, #4CA9CF, #292E91); */
    background: linear-gradient(to bottom right, #00C3FF, #0077FF);


    display: flex;
    justify-content: space-around;
    z-index: 99;
}

.nav-menu /*div*/ button.btnMenu:hover{
    /* background: darkblue; */
    background: linear-gradient(#00c3ff, #0077FF);
    width: 150px;
}

.nav-menu div.item{
    width: 100px;
    border-radius: 5px;
    /* background-color: violet; */

    /* border-bottom-right-radius: 20px;
    border-top-left-radius: 20px; */
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu div.item a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 35px;

    position: relative;
    z-index: 10;
}

.nav-menu div.item i{
    position: absolute;
    margin-left: 10px;
    
}

.item button.btnMenu{
    /* width: 100px; */
    height: 35px;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 5px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to top, #0C97FA , #16E1F5);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.657);
    margin-top: 105px;
    border-radius: 2px;
}

.dropdown-content .btnSave{
    width: 60px;
    height: 35px;
    float: right;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    
    background: linear-gradient(to top left, #0C97FA , #16E1F5);
}

.dropdown-content input:hover {
    background-color: #f1f1f1;
}



.show {
    display: block;
}

#content{
    /* background-color:rgba(255, 255, 255, 0.400); */
    /* background: linear-gradient(240deg, rgba(50, 50, 150, 0.3), rgba(0, 0, 200, 0)); */
    width: 930px;
    height: 1200px;
    margin-left: 170px;
    margin-right: 170px;
    padding-top: 36.5px;
    /* padding: 0px 10px 0px 10px; */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

#content-header{
    width: 100%;
    height: 1200px;
    /* background-color: coral; */
    /* border-radius: 20px; */
}

.search-location{
    width: 41%;
    height: 40px;

    /* background-color: rgb(62, 62, 65); */ 

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-location .search-input{
    position: relative;
    background-color:rgba(255, 255, 255, 0.900);
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    transition: 0.5s;

}

.search-location .search-input input{
    width: 100%;
    background: transparent;
    margin-left: 8px;
    border: none;
    outline: none;
    color: #2B2B2B;
    font-size: 17px;
}

.search-location .search-input input::placeholder{
    color: rgb(139, 139, 139);
}

.search-location .search-button{
    width: 45px;
    height:45px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #00C3FF, #0077FF);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 30px;
    /* box-shadow: 0 0 0 10px #FEA858; */

    cursor: pointer;
}

.search-location .search-button img{
    width: 22px;
    height: 22px;
    position: relative;
}

.search-location .search-button button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    cursor: pointer;
}

#txtSearchInput{
    width: 270px;
    height: 20px;
}

/* .search-location:hover > .search-input{
    width: 300px;
} */



.forecast{
    width: 100%;
    height: 1100px;
    /* background-color: silver; */
}

div .forecast div{
    padding-top: 15px;
}

.forecast-infor{

}

.btn-temp{
    margin-left: 790px;
    margin-top: -40px;
}

.btn-temp button{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.900);
    cursor: pointer;
    border:  rgba(255, 255, 255, 0.800);
    border-radius: 5px;
}

.status {
    display: flex;
    width: 100%;
    height: 170px;
    margin-top: 10px;
    /* background-color: blue; */
}

.status img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-icon{
    width: 20%;
    height: 140px;
    /* background-color:rgba(255, 255, 255, 0.05); */
    background-color:#00000025;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

.temp-number{
    width: 30%;
    height: 140px;
    background-color:#00000025;
    /* border-radius: 5px; */
    
    font-size: 96px;
    line-height: 96px;
    color: white;
    display: flex;
    align-items: center;
}

.text-weather{
    width: 50%;
    height: 140px;
    background-color:#00000025;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-weather h1{
    margin-top: -15px;
}

.detail{
    /* margin-top: -50px; */
    
}

.detail ul{
    width: 100%;
    height: 130px;
    background-color:#00000025;
    border-radius: 12px;

    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.detail ul li{
    width: 180px;
    height: 130px;
    /* background-color:#00000025; */
    /* border-radius: 12px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    padding-top: 15px;
    fill: #FFFFFF !important;
    /* opacity: 0.8; */
}

.forecast-tenday ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 220px;
    margin-top: 7px;
    display: flex;
    border-radius: 5px;
    overflow-x: scroll;
    overflow: hidden;

    /* transform: translateX(311.25px); */
    transition: transform 0.8s ease 0s;

    position: relative;
}

.forecast-tenday .groupBtn-scroll{
    /* position: absolute;
    display: flex;
    align-content: space-between;
    z-index: 10; */
    
}

.button-scrollLeft{
    position: absolute;
    z-index: 11;
    margin-top: 90px;
    margin-right: 913px;
    padding: 2px;

    cursor: pointer;

    background: none;
    border: none;
    color: white;
}

.button-scrollRight{
    position: absolute;
    z-index: 10;
    margin-top: 90px;
    margin-left: 913px;
    padding: 2px;

    cursor: pointer;

    background: none;
    border: none;
    color: white;
}

.button-scrollLeft:hover{
    background: rgba(255,255,255,.4);
}

.button-scrollRight:hover{
    background: rgba(255,255,255,.4);
}

.forecast-tenday ul::-webkit-scrollbar{
    margin: 0;
}

.forecast-tenday ul li{
    min-width: 170px;
    height: 200px;
    background-color:#00000025;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 

#area-example-2 {
    height: 250px;
    min-width: 930px;
    margin: 0 auto;
    border-radius: 12px;
    background-color:#00000025;

    overflow: hidden;
    
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

#area-example-2 tbody{
    /* transform: translateX(0px); */
    width: 1000px;
}


#area-example-2 tbody td{
    transform: translateX(-35px);
    font-size: small;
}

#area-example-2 tbody i{
    margin-right: 2px;
}

#area-example-2 tbody tr td::before{
    background: rgba(255, 255, 255, 0.2);
}

.forecast-locations ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 220px;
    margin-top: 7px;
    display: flex;
    border-radius: 5px;
    overflow-x: scroll;
    overflow: hidden;
}

.forecast-locations ul::-webkit-scrollbar{
    margin: 0;
}

.forecast-locations ul li{
    min-width: 170px;
    height: 200px;
    background-color:#00000025;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a:-webkit-any-link {
    cursor: pointer;
    /* color: -webkit-link;
    text-decoration: underline; */
}

.miniMap{
    width: auto;
    height: auto;
    /* background: teal; */
}

 .miniMap-container{
    height: 225px;
    width: 100%;
    position: relative;
    cursor: pointer;

    /* background: indianred; */
}



.miniMap-static{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.miniMap-temp{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.55;
    border-radius: 12px;
} 


.miniMap-buttonGroup{
    position: absolute;
    width: 40px;
    height: 180px;
    border: 0px solid #003fee;
    top: 25px;
    left: 18px;
    /* background: red; */
}

 .groupContainer{
    width: 36px;
    border-radius: 6px;
    padding: 2px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
}

.layerGroup{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    border: 0px;
}

.layerGroup button{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.layerGroup:hover .layerGroup-text{
    visibility: visible;
}

.layerGroup button:hover{
    background-color: #FFD02C;
}

.groupBtn{
    width: 36px;
    height: 39px;
    padding: 0px;
    overflow: visible !important;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0px;
    background-color: #FFFFFF;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}





.groupCheck{
    background-color: #FFD02C;
}


.layerGroup-text{
    visibility: hidden;
    background-color: #FFD02C;
    color: #666666;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 18px;
    position: absolute;
    z-index: 600px;
    top: 6px;
    white-space: nowrap;
    left: 120%;
}

.layerGroup-text::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 100%;
    margin-top: 9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #FFD02C transparent transparent;
}

#footer{
    /* background-color:rgba(255, 255, 255, 0.400); */
    /* background: linear-gradient(240deg, rgba(0, 0, 200, 0), rgba(50, 50, 150, 0.3)); */
    width: 930px;
    height:1900px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 0px 10px 0px 10px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-top-left-radius: 20px;
}

.space{
    width: 930px;
    height: 60px;
}

.news ul{
    list-style-type: none;
    /* background-color: royalblue; */
    height: 1700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    justify-content: space-between;
    position: relative;
}

.news ul li{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to top , #1612e9, #ffffff00, #ffffff00);
    border-radius: 10px;
    /* margin-left: 7px; */
    cursor: pointer;
    position: relative;

}


.news ul li :hover{
    opacity: 0.5;
    
}

.news ul li.news-big{
    width: 614px;
    background-image: linear-gradient(to right , #124be9, #ffffff00, #ffffff00);
}

.news ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.news ul li a{
    width: 280px;
    height: 50px;
    /* background-color: thistle; */
    color: white;
    font-size:17px;
    text-decoration:none; 

    padding-left: 15px;

     display: flex;
    justify-content: center;

    position: absolute; 
    z-index: 2;
}

.news ul li.news-small a{
    /* height: 70px; */
    
    margin-top: 230px;
}

.news ul li a:hover{
    text-decoration: underline;
    opacity: 1;

}

.news ul li.news-big a{
    /* height: 250px; */
    margin-top: 100px;

    align-items: center;
}




